@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@700&family=Kaushan+Script&display=swap");

h1 {
  width: 100%;
  font-family: "Kaushan Script";
}

p {
  font-weight: lighter;
  font-size: 10px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-weight: lighter;
  font-size: 10px;
  text-transform: capitalize;
}

.title {
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
  color: #fff;
  text-align: center;
}

.weather-app-wrapper {
  max-width: 80%; 
  display: block; 
  margin: 0 auto; 
  padding: 20px;
}

.weatherInfo i {
  font-size: 60px;
}

.actual-temperature h2{
  font-size: 35px;
  line-height: 1.5;
  font-weight: lighter;
  padding-left: 10px;
}

.actual-temperature a{
  line-height: 1.5;
}

.actual-temperature span{
  font-weight: lighter;
}

.actual-temperature .inactive {
  color: black;
  cursor: default;
}

.actual-temperature .inactive:hover {
  text-decoration: none;
}

.selectedCity img {
  width: 60px;
}

.selectedCity h4 {
  text-transform: capitalize;
  font-size: 10px;
}

.selectedCity h5 {
  text-transform: capitalize;
  font-weight: lighter;
}

.fa-map-marker-alt {
  margin: 4px;
  color: orange;
  font-size: 30px;
}
.fa-heart {
  margin: 4px;
  color: red;
  font-size: 30px;
}

.monday h4 {
  color: #fd8c04;
}

.tuesday h4 {
  color: #93abd3;
}

.wednesday h4 {
  color: #ec5858;
}

.thrusday h4 {
  color: #93abd3;
}

.friday h4 {
  color: #fd8c04;
}

.monday i {
  color: #fd8c04;
}

.tuesday i {
  color: #93abd3;
}

.wednesday i {
  color: #ec5858;
}

.thrusday i {
  color: #93abd3;
}

.friday i {
  color: #fd8c04;
}